<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "PhxOptimalFinder", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col items-center">
    <header class="flex justify-between fixed inset-0 h-[60px] desktop:h-[54px] bg-slate-700 text-white">
      <div class="flex items-center pl-[8px] tablet:pl-[16px] desktop:pl-[32px] w-[245px]">
        <a href={Routes.page_path(@conn, :index)} class="inline-block pr-[8px] pl-[16px]">
          <!--<img alt="Workflow" class="h-[30px] w-[120px]" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">-->
          <span class="uppercase font-bold text-amber-400">Optimal</span>
          <span class="uppercase font-bold">Finder</span>
        </a>
      </div>
      <ul class="hidden desktop:flex items-center px-[8px]">
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Model S
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Model L
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Model X
            </span>
          </a>
        </li>
      </ul>
      <ul class="hidden desktop:flex items-center pr-[32px]">
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Shop
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Account
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
            <span class="m-[8px]">
              Menu
            </span>
          </a>
        </li>
      </ul>
      <ul class="flex items-center desktop:hidden pr-[8px] tablet:pr-[16px]">
        <li>
          <a href="#" class="inline-block rounded-xl font-medium tablet:leading-[21px] leading-normal tracking-wider transition duration-500 flex justify-center items-center bg-[#7396ad] bg-opacity-40 text-[12px] tablet:text-[13px]
          tablet:py-[4px] px-[8px] h-[28px] tablet:h-[32px]">
            <span class="mx-[8px]">
              Menu
            </span>
          </a>
        </li>
      </ul>
    </header>
    <main>
      <.container max_width="full">
        <%= @inner_content %>
      </.container>
    </main>
    <footer class="absolute bottom-0 w-full h-[110px] tablet:h-[70px] desktop:h-[70px] flex justify-center items-center text-[#5c5d61] text-[12px] font-medium tracking-wide bg-slate-100">
      <ul class="flex flex-col items-center tablet:flex-row tablet:space-x-[14px] pt-[15px] desktop:pt-0 talet:pt-0 pb-[7px] tablet:pb-0">
        <li class="pb-[4px] tablet:py-[8px]">
          <a href="#">Tesla &copy; 2021</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px]">
          <a href="#">Privacy &amp; Legal</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px] hidden tablet:inline">
          <a href="#">Contact</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px]">
          <a href="#">Careers</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px]">
          <a href="#">News</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px] hidden tablet:inline">
          <a href="#">Engage</a>
        </li>
        <li class="pb-[4px] tablet:py-[8px] hidden tablet:inline">
          <a href="#">Locations</a>
        </li>
      </ul>
    </footer>

    <!-- Slide-over -->
    <div class="hidden fixed inset-0 bg-[rgba(0,0,0,0.3)] backdrop-blur-sm z-10">
      <div class="w-[311px] bg-white shadow-xl absolute right-0 h-screen">
        <div class="p-[24px] flex justify-between items-center">
          <button class="flex items-center py-[4px] px-[8px] self-stretch">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="mr-[4px] text-[12px]">Back</span>
          </button>
          <button class="w-[32px] h-[32px] rounded-full flex justify-center items-center cursor-pointer transition duration-[0.33s] hover:bg-[#f5f5f5]">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
        </div>
        <ul class="py-[4px] px-[32px] text-[#393c41]">
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Existing Inventory</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Used Inventory</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Trade-In</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Test Drive</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Cybertruck</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Roadster</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Semi</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Charging</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Powerwall</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[4px] px-[8px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s]">
              <span class="mx-[4px]">Commercial Energy</span>
            </a>
          </li>
          <li>
            <a href="#" class="inline-block w-full mb-[8px] py-[8px] px-[12px] hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider rounded-xl transition duration-[0.33s] flex">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path></svg>
              <span class="ml-[12px] flex flex-col">
                <span>United States</span>
                <span class="transition text-[#5c5d61] hover:text-[#181b21] hover:shadow-border text-[12px] font-medium leading-[20px] self-start">English</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
